/AlalaBusinessPartners/AlalaBusinessPartners/bin/*
/AlalaBusinessPartners/AlalaBusinessPartners/obj/*
/AlalaBusinessPartners/.vs/*
/AlalaBusinessPartnersApi/AlalaBusinessPartnersApi/bin/*
/AlalaBusinessPartnersApi/AlalaBusinessPartnersApi/obj/*
/AlalaBusinessPartnersApi/.vs/*
/AlalaDiConnector/AlalaDiConnector/bin/*
/AlalaDiConnector/AlalaDiConnector/obj/*
/AlalaDiConnector/.vs/*
/AlalaDiConnector/AlalaDiConnector.Test/bin/*
/AlalaDiConnector/AlalaDiConnector.Test/obj/*
/AlalaDocuments/AlalaDocuments/bin/*
/AlalaDocuments/AlalaDocuments/obj/*
/AlalaDocuments/.vs/*
/AlalaDocumentsApi/AlalaDocumentsApi/bin/*
/AlalaDocumentsApi/AlalaDocumentsApi/obj/*
/AlalaDocumentsApi/.vs/*
/AlalaDocuments/AlalaDocuments.Test/bin/*
/AlalaDocuments/AlalaDocuments.Test/obj/*
/AlalaIncomingPayments/AlalaIncomingPayments/bin/*
/AlalaIncomingPayments/AlalaIncomingPayments/obj/*
/AlalaIncomingPayments/.vs/*
/AlalaIncomingPaymentsApi/AlalaIncomingPaymentsApi/bin/*
/AlalaIncomingPaymentsApi/AlalaIncomingPaymentsApi/obj/*
/AlalaIncomingPaymentsApi/.vs/*
/AlalaJournalEntries/AlalaJournalEntries/bin/*
/AlalaJournalEntries/AlalaJournalEntries/obj/*
/AlalaJournalEntries/.vs/*
/AlalaJournalEntriesApi/AlalaJournalEntriesApi/bin/*
/AlalaJournalEntriesApi/AlalaJournalEntriesApi/obj/*
/AlalaJournalEntriesApi/.vs/*
/AlalaOutgoingPayments/AlalaOutgoingPayments/bin/*
/AlalaOutgoingPayments/AlalaOutgoingPayments/obj/*
/AlalaOutgoingPayments/.vs/*
/AlalaWebAPI/AlalaWebAPI/bin/*
/AlalaWebAPI/AlalaWebAPI/obj/*
/AlalaWebAPI/.vs/*
/AlalaWebAPI.NoMVC/AlalaWebAPI/bin/*
/AlalaWebAPI.NoMVC/AlalaWebAPI/obj/*
/AlalaWebAPI.NoMVC/.vs/*
/.vs/*