/AlalaBusinessPartners/AlalaBusinessPartners/bin/*
/AlalaBusinessPartners/AlalaBusinessPartners/obj/*
/AlalaDiConnector/AlalaDiConnector/bin/*
/AlalaDiConnector/AlalaDiConnector/obj/*
/AlalaDocuments/AlalaDocuments/bin/*
/AlalaDocuments/AlalaDocuments/obj/*
/AlalaWebAPI/AlalaWebAPI/bin/*
/AlalaWebAPI/AlalaWebAPI/obj/*
/AlalaWebAPI.NoMVC/AlalaWebAPI/bin/*
/AlalaWebAPI.NoMVC/AlalaWebAPI/obj/*
/.vs/*